*.css
*.js
*.pubxml
WebApplication1/Properties/PublishProfiles/Involvemintapp - FTP (2).pubxml.user
*.user
*.png
*.ico
*.dll
*.config
*.jpg
WebApplication1/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
*.exe
*.pdb
*.xml
*.nupkg
*.svg
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
*.psd1
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
*.txt
*.xdt
packages/Siaqodb.5.5.0.1/build/net35/Siaqodb.targets
*.targets
packages/WebGrease.1.5.2/tools/install.ps1
*.map
*.a
packages/Siaqodb.5.5.0.1/build/native/monomac/liblmdb.dylib
*.ps1
packages/NLog.Schema.4.0.0/content/NLog.xsd
*.mdb
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
*.props
packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
*._
packages/EntityFramework.6.1.3/content/Web.config.transform
*.transform
WebApplication1.Tests/Properties/AssemblyInfo.cs
*.cd
WebApplication1/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.ttf
WebApplication1/NLog.xsd
WebApplication1/WebApplication1.csproj
*.vspscc
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
*.psm1
*.pri
WEB.sln
*.vssscc
*.suo
WebApplication1/Components/HtmlExtensionsCommon.cs
WebApplication1/Components/HtmlExtensionsTextBox.cs
*.lnk
WebApplication1/fonts/glyphicons-halflings-regular.eot
*.woff
WebApplication1/fonts/glyphicons-halflings-regular.ttf
*.asax
WebApplication1/Migrations/Configuration.cs
*.cache
WebApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.eot
WebApplication1/Startup.cs
WebApplication1/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApplication1/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApplication1/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApplication1.Tests/WebApplication1.Tests.csproj